# TeoMarket API
TEOMARKET_TOKEN=5fc16705d1e1c1119a7fe821b20a463226ff2ab311c7565c8ebb84337564165b

# Shopify API
SHOPIFY_STORE=z5jzfz-me.myshopify.com
SHOPIFY_ACCESS_TOKEN=your_shopify_access_token_here
SHOPIFY_LOCATION_ID=125913629006

# Optional logging
LOG_LEVEL=info
DRY_RUN=false
